.box {
  padding: 20px;
  background-color: #301910;
  height: 1000px;
}
.btn > li {
  display: inline-block;
  height: 110px;
  margin: 0;
  position: relative;
  width: 110px;
}
.btn > li a {
  background-color: #F59700;
  border: 5px solid #F59700;
  border-radius: 500px;
  color: #F59700;
  display: block;
  font-family: "Arial Black";
  font-size: 17px;
  height: 70px;
  left: 15px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 15px;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  transition: all ease 0.2s;
  width: 70px;
}
.btn > li a:hover {
  background-color: #301910;
  color: #F59700;
  height: 100px;
  left: 0;
  line-height: 85px;
  top: 0;
  width: 100px;
}

