/*@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");*/
.back {
  background-color: black;
  height: 1000px;
}
.footer {
  /*font-family: "Sacramento", cursive;*/
  font-size: 30px;
  padding: 70px 100px 0 100px;
  color: white;
  text-shadow:
    0 0 10px white,  
    0 0 20px white,  
    0 0 40px #B615E4,
    0 0 50px #B615E4,
    0 0 60px #B615E4,
    0 0 70px #B615E4,
    0 0 80px #B615E4, 
    0 0 90px #B615E4, 
    0 0 100px #B615E4;
}
