/*@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");*/
.back {
  background-color: black;
}
.header {
  /*font-family: "Sacramento", cursive;*/
  padding: 70px 100px 0 100px;
  color: white;
  font-size: 40px;
  animation: flicker 2s infinite alternate;
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 10px white,
      0 0 20px white,
      0 0 30px #B615E4,
      0 0 40px #B615E4,
      0 0 50px #B615E4,
      0 0 60px #B615E4,
      0 0 70px #B615E4,
      0 0 80px #B615E4,
      0 0 90px #B615E4,
      0 0 100px #B615E4;
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
